<canvas id="header-canvas" width="1000" height="600">
    
</canvas>

<div class="header">
    <h1>
        <span class="header-name">{{site.name}}</span>
        <span class="header-description">{{site.description}}</span>
    </h1>
    <br/>
    <div class="user-details">
        <p>Hey, I'm Alex. I'm a game dev graduate from Scotland. I'm currently working in educational content creation for <a href="https://www.sciencejournalforkids.org/">Science Journal For Kids</a>, but I'm also working on personal game projects. I've made games in Unreal, Unity, and Godot. I enjoy creative problem solving and learning new things and I love any area of game dev where programming and art intersect.</p>
        <p><i>(click to feed the snake)</i></p>
    </div>   
    <br/>
    <div class="header-icons">
        {% for link in site.data.links %}
            <a aria-label="{{link.label}}" target="_blank" href="{{link.link}}"><i class="{{link.class}}" aria-hidden="true"></i></a>
        {% endfor %}
    </div>
</div>