<canvas id="header-canvas" width="1000" height="600">
    
</canvas>

<div class="header">
    <h1>
        <span class="header-name">{{site.name}}</span>
        <span class="header-description">{{site.description}}</span>
    </h1>
    <br/>
    <div class="header-icons">
        {% for link in site.data.links %}
            {% if link.label == "My Doggo" %}
                <a aria-label="{{link.label}}" href="{{link.link}}"><i class="{{link.class}}" aria-hidden="true"></i></a>
            {% else %}
                <a aria-label="{{link.label}}" target="_blank" href="{{link.link}}"><i class="{{link.class}}" aria-hidden="true"></i></a>
            {% endif %}
        {% endfor %}
    </div>
</div>