<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Screenshots of a horror game showing multiple puzzles involving mirrors" src="{{ "/assets/img/MirrorMirror.jepg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mirror Mirror </h3>
    <ul>
      <li> Sep 2023 - May 2024 </li>
      <li> Team size: 12 </li>
      <li> Technologies: Unity, C#, HLSL </li>
    </ul>
    <p>Mirror Mirror is a first person puzzle-horror game. Take on the role of a witch, trapped in a bathroom that is haunted by a demon. You must perform the Sealing Ritual to defeat the demon for good, but beware! As you complete the ritual steps, the demon will try to steal power from them and become stronger.
      <i>Can you complete the ritual before it is too late?</i></p>
    <p>I was responsible for implementing the reflection rendering and many of the puzzle mechanics</p>
    <a class="project-link" href="https://gcugames.itch.io/mirror-mirror">Check it out on itch.io</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
