<section id="projects">
    <div class="user-details">
        <h1> Projects </h1>
    </div>
    
    {% for project in site.data.projects %}
    <h3 class="project-title"> {{project.title}} </h3>
    
    <div class="user-projects">
    
        <div class="contents">
            <ul>
                {% if project.date %}
                    <li>{{project.date}}</li>
                {% endif %}
                {% if project.team-size %}
                    <li>Team size: {{project.team-size}}</li>
                {% endif %}
                {% if project.tech %}
                    <li>Technologies: {{project.tech}}</li>
                {% endif %}
            </ul>
            <p>{{project.info}}</p>
        </div>
    
        <div class="images">
            {% if project.video %}
            <video controls>
                <source src="{{site.baseurl}}/assets/vids/{{project.video}}"/>
            </video>
            {% elsif project.image %}
            <img alt="{{project.image-alt}}" src="{{site.baseurl}}/assets/img/{{project.image}}" />
            {% endif %}
        </div>
    
    </div>

    {% if project.itch %}
    <a class="project-link" target="_blank" href="{{project.itch}}"><span class="project-link-icon icon fa-brands fa-itch-io"> </span> Check it out on itch.io</a>
    {% endif %}
    {% if project.github %}
    <a class="project-link" target="_blank" href="{{project.github}}"><span class="project-link-icon icon fa-brands fa-github"> </span> Check it out on Github</a>
    {% endif %}
    {% endfor %}

    <!--
    <div class="user-details">
        <h1> Other Projects </h1>
    </div>

    <div class="user-small-projects">
        {% for project in site.data.small_projects %}
        <div class="small-project">
            <h2>{{project.title}}</h2>
            <p>{{project.tech}}</p>
            <p>{{project.info}}</p>
            <a class="project-link" target="_blank" href="{{project.link}}">{{project.link-text}}</a>
        </div>
        {% endfor %}  
    </div>
    -->

</section>
