<div class="user-details">
  <h1> Projects </h1>
</div>

<h3 class="project-title"> Mirror Mirror </h3>
<div class="user-projects">

  <div class="contents">
    <ul>
      <li> Sep 2023 - May 2024 </li>
      <li> Team size: 12 </li>
      <li> Technologies: Unity, C#, HLSL </li>
    </ul>
    <p>Mirror Mirror is a first person puzzle-horror game. The player is trapped in a bathroom and must complete ritual tasks to defeat a demon.</p>
    <p>I was responsible for the reflection rendering and many of the puzzle mechanics, as well as various other tasks throughout the project's development.</p>
    <a class="project-link" href="https://gcugames.itch.io/mirror-mirror">Check it out on itch.io</a>
  </div>

  <div class="images-right">
    <img alt="Screenshots of a horror game showing multiple puzzles involving mirrors" src="{{ "/assets/img/MirrorMirror.jpeg" | prepend: site.baseurl }}" />
  </div>

</div>

<h3 class="project-title"> Buried Eclipse </h3>
<div class="user-projects">

  <div class="contents">
    <ul>
      <li> March 2023 - May 2023 </li>
      <li> Technologies: Unreal, Blueprint, Blender </li>
    </ul>
    <p>A cel-shaded exploration-action game. The player must explore an abandoned underground research facility, fighting enemies and unlocking new abilities.</i></p>
    <p>I was the sole developer and responsible for the programming and design, as well as some 3d modelling and animation, including the player character.</p>
    <a class="project-link" href="https://cyverneon.itch.io/buried-eclipse">Check it out on itch.io</a>
  </div>

  <div class="images-right">
    <img alt="Screenshot of a cel-shaded insect creature in a mechanical environment" src="{{ "/assets/img/BuriedEclipse.jpeg" | prepend: site.baseurl }}" />
  </div>

</div>

<h3 class="project-title"> Test Project </h3>
<div class="user-projects">
  
  <div class="contents">
    <ul>
      <li> Date - date </li>
      <li> Team size: if applicable</li>
      <li> Technologies: Language, Engine, Etc </li>
    </ul>
    <p>Brief description of what kind of game it is</i></p>
    <p>Brief description of responsibilities</p>
    <a class="project-link" href="https://cyverneon.itch.io/buried-eclipse">Check it out on itch.io</a>
  </div>

  <div class="images-right">
    <img alt="mountain" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>

</div>

<!--Project with image on left and info on right-->
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div> -->

</div>
